@use "sass:math";

$meterWidth: 384px;
$meterHeight: 256px;
$borderWidth: 8px;
$vuRed: darkred;

@font-face { 
    font-family: 'Squada One';
    src: url('./assets/Squada_One/SquadaOne-Regular.ttf') format('truetype');
}

.vu-meter {
    background: linear-gradient(to top, #666, #777);
    width: $meterWidth;
    height: $meterHeight;
    border: 2px solid #000;
    background: radial-gradient(#888, #333);
    margin: 24px;
    border-radius: 3px;
    font-size: 1.3em;
    position: relative;
    font-family: Squada One;
    font-weight: normal;
    font-style: normal;
    
    .vu-meter-border1, .vu-meter-border2 {
        position: absolute;
        width: $meterWidth - ($borderWidth * 2);
        height: $meterHeight - ($borderWidth * 2);
    }
    
    .vu-meter-border1 {
        border: $borderWidth solid #000;

    }
    
    .vu-meter-border2 {
        border-top: $borderWidth solid;
        border-width: $borderWidth;
        border-image: linear-gradient(#ccc, #66666688) 90;
border-style: solid;
    }
    
    .vu-meter-background {
        background: radial-gradient(gold, goldenrod);
        width: $meterWidth - ($borderWidth * 4) + $borderWidth;
        height: $meterHeight - ($borderWidth * 4)  + $borderWidth;
        position: absolute;
        left: $borderWidth - $borderWidth * .5;
        top: $borderWidth - $borderWidth * .5;
        margin: 8px;
    }
    
    .vu-meter-background-overlay {
        background: linear-gradient(-45deg, #ff8c0044, #ffc40088);
        width: $meterWidth - ($borderWidth * 4) + $borderWidth;
        height: $meterHeight - ($borderWidth * 4)  + $borderWidth;
        position: absolute;
        left: $borderWidth - $borderWidth * .5;
        top: $borderWidth - $borderWidth * .5;
        margin: 8px;
    }
    
    .vu-meter-background-shadow {
        background: linear-gradient(180deg, #000000 0%, #ffc40000 5%);
        width: $meterWidth - ($borderWidth * 4) + $borderWidth;
        height: $meterHeight - ($borderWidth * 4)  + $borderWidth;
        position: absolute;
        left: $borderWidth - $borderWidth * .5;
        top: $borderWidth - $borderWidth * .5;
        margin: 8px;
    }
    
    .vu-meter-background-glass {
        top: $borderWidth - $borderWidth * .5 + $borderWidth;
        background: linear-gradient(180deg, #ffffff88 0%, transparent 3%);
    }
    
    .vu-meter-background-shadow-up {
        background: linear-gradient(0deg, #000000 0%, #ffc40000 15%);
        width: $meterWidth - ($borderWidth * 4) + $borderWidth;
        height: 64px;
        bottom: 64px;
        position: absolute;
        left: $borderWidth - $borderWidth * .5;
        margin: 8px;
    }
    
    .vu-meter-background-glass-up {
        bottom: $borderWidth * 1.25;
        background: linear-gradient(180deg, #ffffff66 0%, transparent 10%);
    }
    
    .vu-meter-light-1, .vu-meter-light-2 {
        position: absolute;
        height: 128px;
        width: 128px;
        border-radius: 64px;
        background: radial-gradient(circle at center, white 0, #ffffff00 100%);
        filter: blur(16px);
        bottom: $borderWidth * 4;
        z-index: 3;
        opacity: .9;
    }
    
    .vu-meter-light-1 {
        left: $borderWidth * 4;
    }
    
    .vu-meter-light-2 {
        right: $borderWidth * 4;
    }
    
    .vu-meter-bar {
        position: absolute;
        z-index: 6;
        width: $meterWidth - ($borderWidth * 2) - $borderWidth;
        height: 64px;
        background: radial-gradient(#222, #111);
        left: $borderWidth + $borderWidth * .5;
        bottom: $borderWidth + $borderWidth * .5;
    }
    
    .vu-label, .vu-value, .vu-value-minor {
        z-index: 2;
        color: black;
        margin-top: 30px;
        font-size: 1.3em;
        position: absolute;
    }
    
    .vu-label-info {
        bottom: $borderWidth * 8;
        font-size: .5em;
    }
    
    .vu-label-brand {
        left: $borderWidth * 2.5;
    }
    
    .vu-label-version {
        right: $borderWidth * 2.5;
    }
    
    .vu-value-minor {
        font-size: .8em;
    }
    
    .vu-value-minor-0 {
        top: 120px;
        left: $borderWidth * 13;
    }
    
    .vu-value-minor-20 {
        top: 104px;
        left: $borderWidth * 15;
    }
    
    .vu-value-minor-40 {
        top: 86px;
        left: $borderWidth * 18;
    }
    
    .vu-value-minor-60 {
        top: 78px;
        left: $borderWidth * 21;
    }
    
    .vu-value-minor-80 {
        top: 74px;
        left: $borderWidth * 24.5;
    }
    
    .vu-value-minor-100 {
        top: 80px;
        left: $borderWidth * 27;
    }
    
    .vu-label-min, .vu-label-max {
        margin-top: $borderWidth * 3;
    }
    
    .vu-label-min {
        left: $borderWidth * 4;
    }
    
    .vu-label-max {
        color: $vuRed;
        right: $borderWidth * 4;
    }
    
    .vu-value-major-n20 {
        left: $borderWidth * 3;
        top: 68px;
    }
    
    .vu-value-major-n10 {
        left: $borderWidth * 7;
        top: 36px;
    }
    
    .vu-value-major-n7 {
        left: $borderWidth * 11;
        top: 16px;
    }
    
    .vu-value-major-n5 {
        left: $borderWidth * 15;
        top: 2px;
    }
    
    .vu-value-major-n3 {
        left: $borderWidth * 19.5;
        top: -6px;
    }
    
    .vu-value-major-n1 {
        left: $borderWidth * 24.5;
        top: -6px;
    }
    
    .vu-value-major-0 {
        left: $borderWidth * 30;
        top: 0px;
    }
    
    .vu-value-major-1 {
        left: $borderWidth * 33;
        top: 16px;
        color: $vuRed;
    }
    
    .vu-value-major-2 {
        left: $borderWidth * 36;
        top: 40px;
        color: $vuRed;
    }
    
    .vu-value-major-3 {
        left: $borderWidth * 39;
        top: 68px;
        color: $vuRed;
    }
    

    
    .vu-meter-needle {
        position: absolute;
        width: 3px;
        height: 144px;
        transform: rotate(-60deg);
        background: #333;
        left: $meterWidth * .5 - 3px;
        bottom: $borderWidth * 7;
        z-index: 3;
        transform-origin: bottom center;
    }
    
    .vu-meter-curve {
        transform: scale(1.0038);
    }
    
    .vu-meter-guide {
        fill: transparent;
        position: absolute;
        top: -($meterHeight / 2) - 16px;
        left: 0;
        z-index: 2;
        stroke: black;
        fill: #444;
    }
    
    .vu-meter-guide-over {
        fill: $vuRed;
        stroke: $vuRed;
    }
    
    .vu-meter-screw {
        width: 32px;
        height: 32px;
        position: absolute;
        background: radial-gradient(#222 33%, #111);
        border: 2px solid black;
        border-radius: 16px;
        bottom: $borderWidth * 4;
        left: $meterWidth / 2 - 16;
        z-index: 7;
        
    }
    
    .vu-meter-screw-notch {
        width: 4px;
        height: 34px;
        position: absolute;
        background: linear-gradient(black, #111, black);
        transform: rotate(45deg);
        border-radius: 0px;
        bottom: $borderWidth * 4;
        left: $meterWidth / 2 - 16 + 16;
        z-index: 7;
    }
}

